################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x5wpf/WpfApp1/bin/Debug
/x5wpf/WpfApp1/obj/Debug/TempPE
/x5wpf/WpfApp1/obj/Debug
/x5wpf/WpfApp1/obj/Debug
/x5wpf/x5wpf/bin/Debug
/x5wpf/x5wpf/obj/Debug
/.vs/VSWorkspaceState.json
